:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #d1a6a6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s, color 0.3s; 

}

.toggle-container {
  text-align: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  background: transparent;
  color: var(--text-color);
  font-family: inherit;
}
